.instruction{
    position: relative;
    background: #f4f9ff;
    padding-top: 87px;
    .instruction_layout{
        max-width: 1170px;
        margin: 0 auto;
        .instruction_main{
            display: flex;
            justify-content: space-between;
            margin-top: 83px;
            padding: 0 154px 10px;
            .instruction_content{
                position: relative;
                width: calc((100% / 2) - 25px);
                .instruction_pills{
                    width: 370px;
                    height: 268px;
                    position: absolute;
                    z-index: 2;
                    bottom: 32;
                }
                .instruction_glass{
                    width: 200px;
                    height: 375px;
                    position: absolute;
                    top: 20;
                    left: 230px;
                }
            }
        }
    }
}