include ../header/header.pug
include ../inefficient_card/inefficient_card.pug


mixin inefficient()
    section.inefficient
        .inefficient_layout
            +header({
                h1: 'Почему большинство средств против грибка малоэффективны',
            })
            .inefficient_card_layout
                +inefficient_card({
                    title: 'Чудо-средства',
                    title_small: 'Обещают, что избавят от грибка меньше, чем за месяц, хотя это невозможно.',
                    card_img: 'img/inefficient-star.svg',
                    text: 'Ноготь – это роговой слой кожи. Он не имеет живых клеток. Часть ногтя, которая уже поражена грибком, не может выздороветь до' + 
                            'полного его отрастания. Единственный способ вылечить грибок – подавлять его распространение все время, пока ноготь не отрастет заново.'+
                            ' Для этого требуется 4-6 месяцев.'
                })
                +inefficient_card({
                    title: 'Наружные средства',
                    title_small: 'Способны устранить внешние проявления грибка. (кремы, лаки, пластыри)',
                    card_img: 'img/inefficient-gel.svg',
                    text: 'Очаг заражения находится под ногтевой пластиной, а наружные средства не способны его достичь - они действуют только на' +
                        ' верхнем слое ногтя, поэтому не способны избавить от грибка.Для повышения их эффективности рекомендуется спиливать ноготь' + 
                        ' полностью, но это больно, некрасиво и совершенно не дает гарантий выздоровления.'
                })
                +inefficient_card({
                    title: 'Внутренние средства',
                    title_small: 'Убивают грибковую инфекцию в организме. (таблетки, саше, капли)' ,
                    card_img: 'img/inefficient-pills.svg',
                    text: 'Могут подействовать только при длительном использовании (3 - 4 месяца).За это время внутренние средства в 93% случаев наносят' + 
                            ' серьезный ущерб печени, вызывают сыпь, отеки, диарею, рвоту. К тому же, каждое средство эффективно только' + 
                            ' против одной группы грибка из 4000 видов.'
                })
            .inefficient_conclusion
                .conclusion_header ВЫВОД:
                .conclusion_text Даже если вы используете наружные и внутренние средства одновременно, это <span class='bold'>не гарантирует
                                | избавления от грибка</span>: они могут конфликтовать между собой по составу и блокировать действие
                                | друг друга или быть неэффективными против вашего типа грибка.